[Unit]
Description=Markaz Backend (Gunicorn)
After=network.target

[Service]
User=user
Group=user
WorkingDirectory=/home/user/markaz-backend
Environment="DJANGO_SETTINGS_MODULE=config.settings_prod"
ExecStart=/home/user/markaz-backend/venv/bin/gunicorn config.wsgi:application -c /home/user/markaz-backend/deploy/gunicorn.conf.py
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
